      
    .ncdmb-dev-portal-footer {
      /* position: fixed;
      left: 0;
      bottom: 0; */
      color:rgba(255,255,255,0.75);
      background-color: rgb(17, 51, 17);
      background-size: cover !important;
      background-position: right center;
  
      padding: 16px;
    }
  
    .ncdmb-dev-portal-footer .footer-contents {
      /* display: grid;
      grid-gap: 10px;
      grid-template-columns: 10% 25% 25% 40%; */
      padding: 10px;
    }
    .ncdmb-dev-portal-footer .footer-contents .logo .img-1  {
      margin-right: 1rem;
    }
    .ncdmb-dev-portal-footer .footer-contents .logo .img-1 ,
    .ncdmb-dev-portal-footer .footer-contents .logo .img-2 {
      display: inline-block;
      margin-bottom: 16px;
    }
    .ncdmb-dev-portal-footer .footer-contents .logo .img-1 img,
    .ncdmb-dev-portal-footer .footer-contents .logo .img-2 img{
      width: 70px;
      height: 70px;
    }
  
    .ncdmb-dev-portal-footer .footer-contents h3.widget-title {
      font-size: 20px;
      line-height: 26px;
      font-weight: 500;
      letter-spacing: 0.6px;
      text-transform: none;
      position: relative; 
    color: #fff;
    }
  
   .ncdmb-dev-portal-footer .footer-contents .items {
      padding: 16px 0;
      color: rgba(255,255,255,0.75);
      font-family: 'Roboto';
      font-weight: 400;
    }
  
    .ncdmb-dev-portal-footer .footer-contents .items ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    .ncdmb-dev-portal-footer .footer-contents .items ul span:last-child {
      padding-left: 15px;

    }
  
    .ncdmb-dev-portal-footer .footer-contents .items ul li {
      padding: 5px 0;
    }
  
    .ncdmb-dev-portal-footer .footer-contents .items ul a {
      text-decoration: none;
      font-size: 14px;
      color: rgba(255,255,255,0.75);
    }
    .ncdmb-dev-portal-footer .footer-contents .items a:hover {
        color: yellow;
    }
  
    .ncdmb-dev-portal-footer .footer-contents .items ul li .date {
      padding: 3px 0;
      display: block;
      font-size: 14px;
      font-style: italic;
    }
  
    .ncdmb-dev-portal-copyright {
      background: whitesmoke;
      width: 100%;
      color:#4d60a5;
    }
  
    .copyright-wrapper {
      padding: 8px 12px;
      font-size: 12px;
      font-weight: 500;
      display: flex;
      justify-content: left;
    }
  
    
    /* HAMBURGER MENU */
    .ncdmb-dev-portal-navbar .menu span {
      display: block;
      width: 33px;
      height: 3px;
      margin-bottom: 8px;
      position: relative;
  
      background: #cdcdcd;
      border-radius: 3px;
  
      z-index: 1;
  
      transform-origin: 4px 0px;
  
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
    }
  
    .ncdmb-dev-portal-navbar .menu.open span {
      opacity: 1;
      transform: rotate(45deg) translate(-12px, -13px);
    }
  
    .ncdmb-dev-portal-navbar .menu.open span:nth-last-child(3) {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
    }
  
   
    /* HAMBURGER MENU ENDS */
  
    /* MOBILE VIEW STARTS */
    @media screen and (max-width: 1055px) {
      .ncdmb-dev-portal-footer .footer-contents {
        grid-template-columns: 50% 50%;
      }
  
      .ncdmb-dev-portal-footer .footer-contents div:nth-child(1) {
        grid-column: 1 / span 2;
      }
    }
  
    @media screen and (max-width: 727px) {
      .copyright-wrapper {
        display: block;
        text-align: center;
      }
  
      .copyright-wrapper div {
        padding: 6px 0;
      }
    }
  
    @media screen and (max-width: 620px) {
      .ncdmb-dev-portal-footer .footer-contents {
        width: 100%;
        display: block;
      }
      .ncdmb-dev-portal-footer .footer-contents .logo .img-1 ,
      .ncdmb-dev-portal-footer .footer-contents .logo .img-2 {
        display: block;
        text-align: center;
        margin: 0 auto 32px;
      }
      .ncdmb-dev-portal-footer .footer-contents .items {
        margin-bottom: 32px;
      }

      .ncdmb-dev-portal-footer .footer-contents .items:nth-child(2) {
        padding-top: 0;
      }
    }
  
  .ncdmb-dev-portal-footer .footer-contents h3.widget-title {
    font-family: 'Nunito', sans-serif !important;
  }
  