

h2.heading-h2 {
  font-size: 36px;
  font-weight: 500;
  color: green;
}

h5.heading-h5 {
  font-size: 22px;
  font-weight: 500;
}

p.bk_pra.line-height-1-87 {
  line-height: 1.875;
}
p.bk_pra.font-18 {
  font-size: 18px;
}
p.bk_pra {
  margin-bottom: 0;
  word-wrap: break-word;
  max-width: 100%;
  font-weight: 500;
  line-height: 1.58;
  font-size: 14px;
  font-family: Poppins,sans-serif;
}

img.build-powerful-apps-img {
  min-height: 513px;
  width: 100%;
  object-fit: cover;
}

.build-powerful-apps h2.heading-h2 {
  margin-bottom: 1em;
}

p.bk_pra.font-20 {
  font-size: 20px;
  opacity: 0.9;
  margin-bottom: 1em;
}

a.brook-btn.btn-sd-size, button.brook-btn.btn-sd-size {
  padding: 0 36px;
  height: 55px;
  line-height: 55px;
  font-size: 14px;
  text-decoration: none;
}

a.brook-btn.btn-rounded, button.brook-btn.btn-rounded {
  border-radius: 6px;
}

a.brook-btn, button.brook-btn {
  color: #fff;
  border-width: 0;
  -webkit-box-shadow: 0 10px 20px rgba(0,0,0,.07);
  box-shadow: 0 10px 20px rgba(0,0,0,.07);
  font-weight: 600;
  letter-spacing: 0;
  font-family: Poppins,sans-serif;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  border-style: solid;
  cursor: pointer;
  -webkit-transition: all .3s cubic-bezier(.645,.045,.355,1);
  -o-transition: all .3s cubic-bezier(.645,.045,.355,1);
  transition: all .3s cubic-bezier(.645,.045,.355,1);
}

.clean-and-concise-mobile {
  width: 82%;
  margin: auto;
}


h3.heading-h3 {
  font-size: 36px;
}

.ptb--70 {
  padding: 40px 0;
}

a.brook-btn.bk-btn-white, button.brook-btn.bk-btn-white {
  background: #fff;
  color: #222;
}

@media only screen and (max-width: 1599px) and (min-width: 1200px) {
  h2.heading-h2 {
      font-size: 36px;
  }
}

@media screen and (max-width: 767px) {
  .build-powerful-apps-img.bg-desktop {
      display: none;
  }
  p.bk_pra.font-18 {
      font-size: 14px;
  }
  p.bk_pra.font-20 {
      font-size: 14px;
  }
  h2.heading-h2 {
      font-size: 24px;
  }
  .professonal-design-content.pl-5 {
      padding-left: 0 !important;
  }
  img.build-powerful-apps-img {
      margin-top: 35px;
      min-height: 313px;
  }
  .clean-and-concise-mobile {
      text-align: center;
  }
  .custom-container {
      max-width: 100%;
      text-align: center;
      padding: 0 2em;
  }
  h3.heading-h3 {
      font-size: 24px;
  }
  a.brook-btn.btn-sd-size, button.brook-btn.btn-sd-size {
      padding: 0 24px;
      height: 38px;
      line-height: 38px;
      font-size: 14px;
  }
}



.position-relative {
    position: relative;
  }

  .header__tx123 {
    height: 450px;
    width: 100%;
    background: black;
  }

  .header__tx123 .page-header.image-bg {
    background-position: 50% 50%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url('../imgs/bg2.jpg');
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: inherit;
    margin-top: 31.95px;
    visibility: visible;
    transform: translateY(-31.95px) translateZ(0px);
    opacity: 0.5;
  }

  .header__tx123 .content--container {
    height: inherit;
    width: 100%;
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .header__tx123 .content-title h2 {
    color: #ffffff;
    font-size: 40px;
    font-weight: 700;
  }

  .header__tx123 .content-title p {
    color: #ffffff;
    opacity: 0.9;
    margin-top: 10px;
  }

  .main__tx123 {
    padding: 2.8em 0;
    color: #212529;
  }

  .main__tx123 p {
    line-height: 1.7;
    margin-bottom: 15px;
    color: #6084a4;
    font-weight: 300;
    font-size: 15px;
  }

  .main__tx123 .section-title {
    text-align: center;
    margin-bottom: 50px;
  }

  .main__tx123 .section-title h2 {
    margin-bottom: 0;
    font-size: 40px;
    font-weight: 600;
  }

  .main__tx123 .getting-started-steps__container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 25px;
    grid-auto-rows: minmax(100px, auto);
  }

  .stretch-item {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: stretch;
    align-items: stretch;
    -webkit-justify-content: stretch;
    justify-content: stretch;
  }

  .main__tx123 .how-it-works {
    text-align: center;
    background-color: #ffffff;
    margin-bottom: 30px;
    -webkit-box-shadow: 0 7px 20px rgba(0, 0, 0, 0.03);
    box-shadow: 0 7px 20px rgba(0, 0, 0, 0.03);
    padding: 35px 25px;
    border-radius: 5px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }

  .main__tx123 .how-it-works:hover {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    -webkit-box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1);
  }

  .main__tx123 .how-it-works h3 {
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 600;
  }

  .main__tx123 .how-it-works p {
    margin-top: 12px;
    margin-bottom: 0;
  }

  .main__tx123 .stretch-card {
    min-height: 415px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .account-create-area {
    position: relative;
    z-index: 1;
    background: -webkit-gradient(linear, left top, right top, from(#bf2025), to(#bf2025));
    background: linear-gradient(90deg, #bf2025 0%, #bf2025 100%);
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .account-create-content {
    text-align: center;
  }

  .account-create-content h2 {
    color: #ffffff;
    max-width: 580px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    font-size: 40px;
    font-weight: 600;
  }

  .account-create-content p {
    color: #ffffff;
    line-height: initial;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 0;
  }

  .account-create-content .btn-primary {
    margin-top: 25px;
    padding: 16px 30px;
    background-color: white !important;
    color: #bf2025;
    font-weight: 600;
  }

  .btn {
    text-decoration: none;
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .45rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  }

  .tx__container-gettingstarted {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  @media only screen and (max-width: 767px) {
    .account-create-area {
      padding-top: 50px;
      padding-bottom: 50px;
    }

    .account-create-content h2 {
      max-width: 100%;
      font-size: 25px;
      line-height: 1.4;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 0;
    }

    .account-create-content p {
      font-size: 15px;
      margin-top: 15px;
    }

    .btn {
      padding: 14px 25px;
      font-size: 13px;
    }
  }

  @media (min-width: 576px) {
    .tx__container-gettingstarted {
      max-width: 540px;
    }
  }

  @media (min-width: 768px) {
    .tx__container-gettingstarted {
      max-width: 720px;
    }

    .main__tx123 .getting-started-steps__container {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (min-width: 992px) {
    .tx__container-gettingstarted {
      max-width: 960px;
    }

    .main__tx123 .getting-started-steps__container {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media (min-width: 992px) {
    .tx__container-gettingstarted {
      max-width: 960px;
    }

    .main__tx123 .getting-started-steps__container {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media (min-width: 1200px) {
    .tx__container-gettingstarted {
      max-width: 1140px;
    }
  }

  @media (max-width: 786px) {
    .header__tx123 {
      height: 380px;
    }
  }

  @media (max-width: 675px) {
    .header__tx123 {
      height: 300px;
    }
  }

  @media (max-width: 576px) {
    .tx__container-gettingstarted {
      width: 95%;
      padding-right: 0;
      padding-left: 0;
    }

    .main__tx123 h2 {
      font-size: 24px !important;
    }
  }

  @media (max-width: 526px) {
    .header__tx123 {
      height: 250px;
    }
  }


  /* API PRODUCTS CSS  */
  .main {
    padding: 10px;
  }

  .container__api--qwerty123 {
    width: 80%;
    margin: 50px auto 50px auto;
  }

  .head {
    margin-bottom: 50px;
  }

  .custom-row .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 100%;
    border: solid #db5c5c .05px;
  }

  .custom-row.customer .card {
    height: 100%;
    min-height: 100%;
  }

  .custom-row.identity .card {
    height: 100%;
    min-height: 100%;
    transition: all 0.2s ease-in-out;
  }

  .custom-row .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1);
  }

  .custom-row .card-container__api--qwerty123 {
    padding: 2px 16px;
    position: relative;
  }

  .inner-wrapper .card-header {
    text-align: center;
    font-size: 1.5em;
    padding-top: 12px;
    color: #bf2025;
    font-weight: 100;
  }

  .inner-wrapper .card-body {
    padding: 10px;
    padding-bottom: 25px;
    color: #686868;
  }

  .inner-wrapper {
    position: relative;
    max-height: 80%;
    z-index: 3;
    width: 95%;
    margin: auto;
    margin-top: -20px;
    padding: 10px;
    background-color: #fff;
  }

  .custom-row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 15px;
  }

  .col-md-api--123--4 {
    grid-column: span 4;
  }

  .col-md-api--123--3 {
    grid-column: span 3;
  }

  .head h1.api {
    color: #bf2025;
    font-weight: 100;
    margin-bottom: 0;
  }

  .head p.api {
    color: #686868;
    font-weight: 100;
  }

  @media screen and (max-width: 996px) {
    .col-md-api--123--4 {
      grid-column: span 6;
    }
  }

  @media screen and (max-width: 620px) {
    .col-md-api--123--4 {
      grid-column: span 12;
    }
  }

  /* API PRODUCTS CSS ENDS  */

  /* HOME PAGE CSS  */
  .position-relative {
    position: relative;
  }

  .header__tx123 {
    height: 450px;
    width: 100%;
    background: black;
  }

  .header__tx123 .page-header.image-bg {
    background-position: 50% 50%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url('../imgs/bg2.jpg');
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: inherit;
    margin-top: 31.95px;
    visibility: visible;
    transform: translateY(-31.95px) translateZ(0px);
    opacity: 0.5;
  }

  .header__tx123 .content--container {
    height: inherit;
    width: 100%;
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .header__tx123 .content-title h2 {
    color: #ffffff;
    font-size: 40px;
    font-weight: 700;
  }

  .header__tx123 .content-title p {
    color: #ffffff;
    opacity: 0.9;
    margin-top: 10px;
  }

  .main__tx123 {
    padding: 2.8em 0;
    color: #212529;
  }

  .main__tx123 p {
    line-height: 1.7;
    margin-bottom: 15px;
    color: rgba(0, 0, 0, .5) !important;
    font-weight: 300;
    font-size: 15px;
  }

  .main__tx123 .section-title {
    text-align: center;
    margin-bottom: 50px;
  }

  .main__tx123 .section-title h2 {
    margin-bottom: 0;
    font-size: 40px;
    font-weight: 600;
  }

  .main__tx123 .getting-started-steps__container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 25px;
    grid-auto-rows: minmax(100px, auto);
  }

  .stretch-item {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: stretch;
    align-items: stretch;
    -webkit-justify-content: stretch;
    justify-content: stretch;
  }

  .main__tx123 .how-it-works {
    text-align: center;
    background-color: #ffffff;
    margin-bottom: 30px;
    -webkit-box-shadow: 0 7px 20px rgba(0, 0, 0, 0.03);
    box-shadow: 0 7px 20px rgba(0, 0, 0, 0.03);
    padding: 35px 25px;
    border-radius: 5px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }

  .main__tx123 .how-it-works:hover {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    -webkit-box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1);
  }

  .main__tx123 .how-it-works h3 {
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 600;
  }

  .main__tx123 .how-it-works p {
    margin-top: 12px;
    margin-bottom: 0;
  }

  .main__tx123 .stretch-card {
    min-height: 415px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .account-create-area {
    position: relative;
    z-index: 1;
    background: -webkit-gradient(linear, left top, right top, from(#bf2025), to(#bf2025));
    background: linear-gradient(90deg, #bf2025 0%, #bf2025 100%);
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .account-create-content {
    text-align: center;
  }

  .account-create-content h2 {
    color: #ffffff;
    max-width: 580px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    font-size: 40px;
    font-weight: 600;
  }

  .account-create-content p {
    color: #ffffff;
    line-height: initial;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 0;
  }

  .account-create-content .btn-primary {
    margin-top: 25px;
    padding: 16px 30px;
    background-color: white !important;
    color: #bf2025;
    font-weight: 600;
  }

  .btn {
    text-decoration: none;
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .45rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  }

  .qwerty12---containrrrr {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  @media only screen and (max-width: 767px) {
    .account-create-area {
      padding-top: 50px;
      padding-bottom: 50px;
    }

    .account-create-content h2 {
      max-width: 100%;
      font-size: 25px;
      line-height: 1.4;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 0;
    }

    .account-create-content p {
      font-size: 15px;
      margin-top: 15px;
    }

    .btn {
      padding: 14px 25px;
      font-size: 13px;
    }
  }

  @media (min-width: 576px) {
    .qwerty12---containrrrr {
      max-width: 540px;
    }
  }

  @media (min-width: 768px) {
    .qwerty12---containrrrr {
      max-width: 720px;
    }

    .main__tx123 .getting-started-steps__container {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (min-width: 992px) {
    .qwerty12---containrrrr {
      max-width: 960px;
    }

    .main__tx123 .getting-started-steps__container {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media (min-width: 992px) {
    .qwerty12---containrrrr {
      max-width: 960px;
    }

    .main__tx123 .getting-started-steps__container {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media (min-width: 1200px) {
    .qwerty12---containrrrr {
      max-width: 1140px;
    }
  }

  @media (max-width: 786px) {
    .header__tx123 {
      height: 380px;
    }
  }

  @media (max-width: 675px) {
    .header__tx123 {
      height: 300px;
    }
  }

  @media (max-width: 576px) {
    .qwerty12---containrrrr {
      width: 95%;
      padding-right: 0;
      padding-left: 0;
    }

    .main__tx123 h2 {
      font-size: 24px !important;
    }
  }

  @media (max-width: 526px) {
    .header__tx123 {
      height: 250px;
    }
  }

  .pt--120 {
    padding-top: 120px;
  }

  .col-12,
  .col-lg-12 {
    position: relative;
    width: 100%;
    min-height: 1px;
  }

  .text-center {
    text-align: center !important;
  }

  .heading {
    color: #222;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 1.23;
    margin: 0;
    font-size: 21px;
  }

  .bkseparator--30 {
    height: 30px;
  }

  p.bk_pra.line-height-1-87 {
    line-height: 1.875;
  }

  p.bk_pra.font-18 {
    font-size: 18px;
  }

  p.bk_pra {
    margin-bottom: 0;
    word-wrap: break-word;
    max-width: 100%;
    font-weight: 500;
    line-height: 1.58;
    font-size: 14px;
    font-family: Poppins, sans-serif;
  }

  .text-black-50 {
    color: rgba(0, 0, 0, .5) !important;
  }

  .mt--20 {
    margin-top: 20px;
  }

  .bg_color--1 {
    background: #fff;
  }

  .move-up.animate {
    -webkit-transform: translateY(100px);
    -ms-transform: translateY(100px);
    transform: translateY(100px);
    -webkit-animation: moveVertical .65s ease forwards;
    animation: moveVertical .65s ease forwards;
  }

  .mt--70 {
    margin-top: 70px;
  }

  .move-up {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  .icon-box.no-border .inner {
    padding: 0;
  }

  .icon-box .inner {
    position: relative;
    padding: 60px 35px 64px;
    background: #fff;
    z-index: 2;
    -webkit-transition: all .3s cubic-bezier(.645, .045, .355, 1);
    -o-transition: all .3s cubic-bezier(.645, .045, .355, 1);
    transition: all .3s cubic-bezier(.645, .045, .355, 1);
  }

  @media only screen and (max-width: 991px) and (min-width: 768px) {
    .mt_md--10 {
      margin-top: 10px;
    }
  }

  @media only screen and (max-width: 991px) and (min-width: 768px) {
    p.bk_pra.font-18 {
      font-size: 16px;
    }
  }

  @media only screen and (max-width: 991px) and (min-width: 768px) {
    h2.heading-h2 {
      font-size: 36px;
    }
  }

  @media (min-width: 991px) {
    h2.heading-h2 {
      font-size: 42px;
    }
  }

  @media only screen and (max-width: 991px) and (min-width: 768px) {
    .pt_md--80 {
      padding-top: 80px;
    }
  }

  .main__tx123 .custom--grid__container-lg-2 {
    margin-top: 2rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    grid-auto-rows: minmax(100px, auto);
  }

  img.build-powerful-apps-bg {
    width: inherit;
    min-height: 350px;
    object-fit: cover;
  }

  .bg-mobile.top-img {
    display: none;
  }

  @media (max-width: 768px) {
    .main__tx123 .custom--grid__container-lg-2 {
      grid-template-columns: repeat(1, 1fr);
    }

    .bg-desktop.top-img {
      display: none;
    }

    .bg-mobile.top-img {
      display: block;
    }
  }

  .bk-btn-theme {
    background: #C02428;
    color: #fff;
    padding: 16px 30px;
    margin-top: 15px;
  }

  .mb-20 {
    margin-bottom: 20px;
  }

  .separator__mb-20 {
    height: 20px;
  }

  a.brook-btn.btn-sd-size,
  button.brook-btn.btn-sd-size {
    padding: 0 36px;
    height: 55px;
    line-height: 55px;
    font-size: 14px;
  }

  .professonal-design_koi431e {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .professonal-design_koi431e .professonal-design-content {
    width: 90%;
  }
  /* HOME PAGE CSS ENDS  */


  /* HEADER AND FOOTER CSS */
  .block-inner, .pane-inner, .menu-wrapper, .branding-elements, .breadcrumb-wrapper, .attribution, .at-panel .rounded-corner, .block-panels-mini &gt; .block-title, div.messages {
    margin-left: 0;
    margin-right: 0;
  }

  * {
    margin: 0;
    padding: 0;
  }
  
  html,
  body {
    font-family: 'Nunito', sans-serif !important;
    height: 100%;
    color: #ffffff;
  }
  
  .main-page-odoitr4mja {
    /* height: 100%; */
    height: 100vh;
    width: 100%;
    position: relative;
  }
  
  .main-page-odoitr4mja .header-odoitr4mja {
    background-image: url("https://res.cloudinary.com/iobami/image/upload/v1606807846/ie%20images/dev-portal/bg1_oiggie.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: scroll;
    height: 100%;
  }
  
  .main-page-odoitr4mja .header-odoitr4mja .overlay,
  .main-page-odoitr4mja .footer-odoitr4mja .overlay {
    position: absolute;
    bottom: 0;
    height: inherit;
    width: 100%;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.6);
    transition: 0.35s ease;
    opacity: 1;
    cursor: pointer;
  }
  
  .main-page-odoitr4mja .footer-odoitr4mja .overlay {
    height: 100%;
  }
  
  .main-page-odoitr4mja .header-odoitr4mja .content__wrapperrr {
    position: absolute;
    bottom: 0;
    height: inherit;
    width: 100%;
    z-index: 2;
  }
  
  .main-page-odoitr4mja .header-odoitr4mja .content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .main-page-odoitr4mja .header-odoitr4mja .content__-inner {
    width: 50%;
    margin-left: 6.5%;
    height: calc(100% - 80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  
  .main-page-odoitr4mja .header-odoitr4mja .content__-inner .body {
    width: 85%;
    margin: auto;
  }

  .main-page-odoitr4mja .header-odoitr4mja h1,
  .main-page-odoitr4mja .footer-odoitr4mja h1 {
    color: white;
  }
  
  .main-page-odoitr4mja h1 {
    font-size: 45px;
    line-height: 1.2;
  }
  
  .main-page-odoitr4mja .banner-overlay__wrapper {
    width: 100%;
    height: 200px;
    position: relative;
    background-color: #F9FAFB;
  }
  
  .main-page-odoitr4mja .banner-overlay__wrapper .banner-overlay {
    width: 80%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    height: 230px;
    margin-top: -100px;
  }
  
  .main-page-odoitr4mja .banner-overlay__wrapper .banner-overlay .content,
  .main-page-odoitr4mja .what-you-can-build .content {
    width: 100%;
    height: inherit;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
    background-color: white;
    border-radius: 6px;
  }
  
  .main-page-odoitr4mja .what-you-can-build .content {
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    border-radius: 0;
  }


  .main-page-odoitr4mja .what-you-can-build .content.three-by-three {
    grid-template-columns: repeat(2, 1fr);
  }
  
  .main-page-odoitr4mja .banner-overlay__wrapper .banner-overlay .content.cardddddd .main-page-odoitr4mja .what-you-can-build .content.cardddddd {
    color: #232323;
    -webkit-box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1);
  }
  
  .main-page-odoitr4mja .banner-overlay__wrapper .banner-overlay .content .content-item,
  .main-page-odoitr4mja .what-you-can-build .content .content-item {
    position: relative;
    width: 100%;
    height: initial;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .main-page-odoitr4mja .banner-overlay__wrapper .banner-overlay .content .content-item .text,
  .main-page-odoitr4mja .what-you-can-build .content .content-item .text {
    width: 94%;
    margin: 20px auto;
  }
  
  .main-page-odoitr4mja .banner-overlay__wrapper .banner-overlay .content .content-item .text h4,
  .main-page-odoitr4mja .what-you-can-build .content .content-item .text h4 {
    margin-bottom: 10px;
    font-size: 18.5px;
    color: #232323;
  }
  
  .main-page-odoitr4mja .banner-overlay__wrapper .banner-overlay .content .content-item .text span,
  .main-page-odoitr4mja .what-you-can-build .content .content-item .text span {
    color: #A7A9AC !important;
  }
  
  .main-page-odoitr4mja .banner-overlay__wrapper .banner-overlay .content .content-item img,
  .main-page-odoitr4mja .what-you-can-build .content .content-item img {
    width: 56px;
    height: 56px;
    object-fit: cover;
  }
  
  .main-page-odoitr4mja .inner-pd {
    padding: 1.6rem 1.4rem;
  }
  
  .main-page-odoitr4mja .banner-overlay__wrapper .banner-overlay .content .content-item:not(:last-child) {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
  }
  
  .main-page-odoitr4mja .banner-overlay__wrapper .banner-overlay .content .content-item .overlay {
    position: absolute;
    bottom: 0;
    height: inherit;
    width: 100%;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    transition: 0.35s ease;
    max-height: 75%;
    opacity: 0;
    cursor: pointer;
  }
  
  .main-page-odoitr4mja .banner-overlay__wrapper .banner-overlay .content .content-item .main.icon {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    top: 0;
    opacity: 0.5;
    z-index: 10;
    cursor: pointer;
  }
  
  .main-page-odoitr4mja .banner-overlay__wrapper .banner-overlay .content .content-item:hover .main.icon {
    transition: 0.2s ease-in-out;
    opacity: 1;
  }
  
  .main-page-odoitr4mja .banner-overlay__wrapper .banner-overlay .content .content-item .overlay .main.bottom {
    position: absolute;
    bottom: 0;
    padding: 16px;
  }
  
  .main-page-odoitr4mja .banner-overlay__wrapper .banner-overlay .content .content-item:hover .overlay {
    max-height: 100%;
    opacity: 1;
  }
  
  .main-page-odoitr4mja .banner-overlay__wrapper .banner-overlay .content img {
    width: 100%;
    height: inherit;
    object-fit: cover;
  }
  
  .main-page-odoitr4mja .cards__section__wrapper {
    width: 80%;
    margin: auto;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
  }
  
  .main-page-odoitr4mja .cards__section__wrapper .itemsss {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    grid-auto-rows: minmax(100px, auto);
  }
  
  .stretch-item {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: stretch;
    align-items: flex-start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
  }
  
  .main-page-odoitr4mja .cards__section__wrapper .itemsss .cardddd {
    padding: 1.6rem 1.4rem;
    color: #232323;
    -webkit-box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1);
  }
  
  .main-page-odoitr4mja .cards__section__wrapper .itemsss .cardddd .contenttt {
    margin-left: 8px;
  }
  
  .main-page-odoitr4mja .cards__section__wrapper .itemsss .cardddd .contenttt h4 {
    font-size: 19px;
    margin-top: 2px;
    margin-bottom: 6px;
  }
  
  .main-page-odoitr4mja .explore-our-products {
    width: 100%;
    background-color: #F9FAFB;
  }
  
  .main-page-odoitr4mja .explore-our-products h1 {
    text-align: center;
    color: #000;
  }
  
  .main-page-odoitr4mja .footer-odoitr4mja {
    height: 65%;
    background-color: pink;
    background-image: url("https://res.cloudinary.com/iobami/image/upload/v1606807846/ie%20images/dev-portal/bg4_oqwj2p.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
  }
  
  .main-page-odoitr4mja .content__wrapperrr {
    height: 100%;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 2;
  }
  
  .main-page-odoitr4mja .content__wrapperrr button {
    color: #fff;
    background-color: #bf2025;
    position: relative;
    width: fit-content;
    display: inline-block;
    padding: 0.8rem 1.4rem;
    border: none;
    font-size: 14px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  .main-page-odoitr4mja .content__wrapperrr button:hover {
    transition: all 0.2s ease-in-out;
    opacity: 0.9;
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
    -webkit-box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1);
  }
  
  .main-page-odoitr4mja .content__wrapperrr button:focus {
    box-shadow: none;
    outline: none;
  }
  
  .main-page-odoitr4mja .text-center {
    text-align: center !important;
  }
  
  .main-page-odoitr4mja .h-10 {
    height: 10px !important;
  }
  
  .main-page-odoitr4mja .content__-inner {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .main-page-odoitr4mja .swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .main-page-odoitr4mja .card-s2 {
    color: #000000;
    background-color: #f9f9f9;
    border-radius: 5px;
    -webkit-box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1);
    height: inherit;
  }
  
  .main-page-odoitr4mja .feature-inner {
    padding-left: 15px;
    padding-right: 15px;
    height: inherit;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
  }
  
  .main-page-odoitr4mja .feature-inner img {
    max-width: 78px;
    max-height: 78px;
  }
  
  .main-page-odoitr4mja .feature-text {
    margin-bottom: 2em;
    margin-top: 2em;
  }
  
  .main-page-odoitr4mja .feature-text h5 {
    font-size: 21px;
    margin-bottom: 0.4rem;
  }
  
  .types-of-apis-usage--qwwrkopfmc-wrapper {
    background-color: #F9FAFB;
    width: 100%;
  }
  
  .h---10 {
    width: 100%;
    height: 10px;
  }
  
  .types-of-apis-usage--qwwrkopfmc {
    color: #232323;
    width: 94%;
    margin: auto;
    margin-bottom: 2.4rem;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1);
  }
  
  .p-16 {
    padding: 2.8rem 2.2rem;
  }
  
  .types-of-apis-usage--qwwrkopfmc .content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .types-of-apis-usage--qwwrkopfmc .content:not(:last-child) {
    margin-bottom: 1.8rem;
  }
  
  .types-of-apis-usage--qwwrkopfmc .content .text h3 {
    color: #A7A9AC !important;
    font-size: 21px;
  }
  
  .types-of-apis-usage--qwwrkopfmc .content .text h2 {
    font-size: 28px;
    color: #232323;
    opacity: 0.9;
  }
  
  .main-page-odoitr4mja hr {
    margin-top: 0.6rem;
    margin-bottom: 1.4rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
  
  .types-of-apis-usage--qwwrkopfmc .content .text h2 span {
    color: #bf2025;
  }
  
  .types-of-apis-usage--qwwrkopfmc .content .text p {
    color: #232323;
    opacity: 0.8;
  }
  
  .types-of-apis-usage--qwwrkopfmc .content .text,
  .types-of-apis-usage--qwwrkopfmc .content .image__wrapper {
    width: 45%;
  }
  
  .types-of-apis-usage--qwwrkopfmc .content .image__wrapper.mobile-view {
    display: none;
  }
  
  .types-of-apis-usage--qwwrkopfmc .content .image__wrapper img {
    width: 100%;
    border-radius: 6px;
    -webkit-box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
  }
  
  .main-page-odoitr4mja .footer-odoitr4mja .content__-inner {
    width: 100%;
    align-items: center;
    text-align: center !important;
  }
  
  @media (max-width: 1199.98px) {
    .main-page-odoitr4mja h1 {
      font-size: 40px;
    }
  }
  
  @media (max-width: 991.98px) {
    .main-page-odoitr4mja h1 {
      font-size: 34px;
    }
  
    .main-page-odoitr4mja .banner-overlay__wrapper .banner-overlay,
    .main-page-odoitr4mja .cards__section__wrapper {
      width: 86%;
    }
  
    .types-of-apis-usage--qwwrkopfmc .content .text h2 {
      font-size: 24px;
    }
  
    .types-of-apis-usage--qwwrkopfmc .content .text h3 {
      font-size: 18px;
    }
  
    .main-page-odoitr4mja .what-you-can-build .content {
      grid-template-columns: repeat(2, 1fr);
    }

    .main-page-odoitr4mja .what-you-can-build .content.three-by-three {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 767.98px) {
  
    .main-page-odoitr4mja .header-odoitr4mja .content__-inner,
    .main-page-odoitr4mja .footer-odoitr4mja .content__-inner {
      width: 100%;
      align-items: center;
      text-align: center !important;
    }
  
    .main-page-odoitr4mja .header-odoitr4mja .content__-inner {
      margin-left: 0;
      margin: auto;
    }
  
    .main-page-odoitr4mja h1 {
      font-size: 28px;
    }
  
    .main-page-odoitr4mja .banner-overlay__wrapper {
      height: 620px;
    }
  
    .main-page-odoitr4mja .banner-overlay__wrapper .banner-overlay {
      height: 620px;
    }
  
    .main-page-odoitr4mja .banner-overlay__wrapper .banner-overlay .content {
      grid-template-columns: repeat(1, 1fr);
    }
  
    .main-page-odoitr4mja .banner-overlay__wrapper .banner-overlay,
    .main-page-odoitr4mja .cards__section__wrapper {
      width: 92%;
    }
  
    .main-page-odoitr4mja .banner-overlay__wrapper .banner-overlay .content .content-item:not(:last-child) {
      border-right: 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
  
    .main-page-odoitr4mja .cards__section__wrapper .itemsss {
      grid-template-columns: repeat(1, 1fr);
    }
  
    .types-of-apis-usage--qwwrkopfmc .content {
      display: block;
      text-align: center;
    }
  
    .types-of-apis-usage--qwwrkopfmc .content div:first-child {
      margin-bottom: 2.4rem;
    }
  
    .types-of-apis-usage--qwwrkopfmc .content .text,
    .types-of-apis-usage--qwwrkopfmc .content .image__wrapper {
      width: 85%;
      margin: auto;
    }
  
    .types-of-apis-usage--qwwrkopfmc .content .image__wrapper.desktop-view {
      display: none;
    }
  
    .types-of-apis-usage--qwwrkopfmc .content .image__wrapper.mobile-view {
      margin-top: 2.4rem;
      display: block;
    }
  }
  
  @media (max-width: 575.98px) {
    .main-page-odoitr4mja h1 {
      font-size: 24px;
    }
  
    .main-page-odoitr4mja .banner-overlay__wrapper {
      height: 560px;
    }
  
    .main-page-odoitr4mja .banner-overlay__wrapper .banner-overlay {
      height: 620px;
    }
  
    .types-of-apis-usage--qwwrkopfmc .content .text,
    .types-of-apis-usage--qwwrkopfmc .content .image__wrapper {
      width: 92%;
      margin: auto;
    }
  
    .main-page-odoitr4mja .what-you-can-build .content {
      grid-template-columns: repeat(1, 1fr);
    }

    .main-page-odoitr4mja .what-you-can-build .content.three-by-three {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  
  @media (min-width: 1490px) {
    .types-of-apis-usage--qwwrkopfmc .content .text h2 {
      font-size: 42px;
    }
  
    .types-of-apis-usage--qwwrkopfmc .content .text h3 {
      font-size: 30px;
    }
  
    .main-page-odoitr4mja p {
      font-size: 20px;
    }
  }
  
  .ncdmb-dev-portal-navbar.top-ad {
    overflow: hidden;
    background-color: green;
    color: white;
    position: relative;
    box-shadow: none;
    top: 0;
    width: 100%;
    z-index: 11;
  }

  .ncdmb-dev-portal-navbar.top-ad .top-ad-wrapper {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    font-size: 14px !important;
    font-family: 'Nunito', sans-serif !important;
    font-weight: 700;
    letter-spacing: 0.5px;
  }

  .ncdmb-dev-portal-navbar.top-ad .top-ad-wrapper a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 12px 13px;
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
  }

  .top-ad-wrapper a:nth-child(n+5) {
    margin-top: 4px;
    padding-right: calc(1.5em + 0.75rem) !important;
    background-repeat: no-repeat;
    background-position: center calc(0.375em + 0.1875rem);
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
  }

  .top-ad-wrapper a:nth-child(5) {
    background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fab' data-icon='facebook-f' class='svg-inline--fa fa-facebook-f fa-w-10' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E%3Cpath fill='white' d='M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z'%3E%3C/path%3E%3C/svg%3E");
  }

  .top-ad-wrapper a:nth-child(6) {
    background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fab' data-icon='twitter' class='svg-inline--fa fa-twitter fa-w-16' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='white' d='M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z'%3E%3C/path%3E%3C/svg%3E");
  }

  .top-ad-wrapper a:nth-child(7) {
    background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fab' data-icon='youtube' class='svg-inline--fa fa-youtube fa-w-18' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512'%3E%3Cpath fill='white' d='M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z'%3E%3C/path%3E%3C/svg%3E");
  }

  .top-ad-wrapper a:nth-child(8) {
    background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fab' data-icon='linkedin-in' class='svg-inline--fa fa-linkedin-in fa-w-14' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='white' d='M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z'%3E%3C/path%3E%3C/svg%3E");
  }

  .ncdmb-dev-portal-navbar {
    overflow: hidden;
    background-color: #FFFFFF;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
    top: 0;
    width: 100%;
    z-index: 10;
  }

  .ncdmb-dev-portal-navbar.sticky {
    position: fixed;
    top: 0;
  }

  .ncdmb-dev-portal-navbar-mobile {
    display: none;
  }

  .ncdmb-dev-portal-navbar .ncdmb-dev-portal-navbar-wrapper {
    width: 93%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px !important;
    font-family: 'Nunito', sans-serif !important;
    font-weight: 700;
    letter-spacing: 0.5px;
  }

  .ncdmb-dev-portal-navbar .ncdmb-dev-portal-navbar-wrapper div.nav-routes a {
    /* padding-top: 36px; */
    /* padding-bottom: 36px; */
    /* padding: 36px 20px; */
  }
  .ncdmb-dev-portal-navbar .ncdmb-dev-portal-navbar-wrapper div.nav-routes.home {
    background-color: #005b10;
    display: flex;
    
  }
  .left_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 31%;
  }
  .heading {
    color: #005b10;
  }
  

  .ncdmb-dev-portal-navbar .ncdmb-dev-portal-navbar-wrapper div.ncdmb-connect {
    padding-right: 13px;
  }

  .ncdmb-dev-portal-navbar .ncdmb-dev-portal-navbar-wrapper div.ncdmb-connect div {
    text-align: center;
  }

  .ncdmb-dev-portal-navbar .ncdmb-dev-portal-navbar-wrapper a.logo:hover {
    background: transparent;
    color: green;
  }

  .ncdmb-dev-portal-navbar .ncdmb-dev-portal-navbar-wrapper a img.logo {
    width: 58.5px;
    height: 69px;
  }
  .img {
    width: 68px;
    object-fit: contain;
    margin: 0 18px;
  }
  
  

  .ncdmb-dev-portal-navbar .ncdmb-dev-portal-navbar-wrapper a {
    float: left;
    display: block;
    color: #005b10;
    text-align: center;
    padding: 8px 13px;
    text-decoration: none;
    letter-spacing: 0.5px;
    font-weight: 300;
    
  }

  .ncdmb-dev-portal-navbar .ncdmb-dev-portal-navbar-wrapper a:hover {
    /* background: green;
    color: #fff;
    padding: 5px 23px;
    transition: hover 0.2s ease; */
  }

  .ncdmb-dev-portal-navbar .ncdmb-dev-portal-navbar-wrapper .ncdmb-connect a {
    background: yellow;
    border-radius: 16px;
    color: green;
    font-weight: 400;
    text-transform: capitalize;
    padding: 8px 13px;
  }
  .ncdmb-dev-portal-navbar .ncdmb-dev-portal-navbar-wrapper .ncdmb-connect a:hover {
    background: green;
    color: white;
    transition: .1s ease-in-out;
  }

  .main {
    padding: 10px;
  }

  .ncdmb-dev-portal-navbar.sticky+.main {
    margin-top: 89px;
  }

  .ncdmb-dev-portal-footer {
    /* position: fixed;
    left: 0;
    bottom: 0; */
    text-align: center;
      background-color: #002600 !important;
    background-size: cover !important;
    opacity: 0.95;
    background-position: right center;

    padding: 44px 58px;
  }

  .ncdmb-dev-portal-footer .footer-contents {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-gap: 10px;
    padding: 10px;
  }

  .ncdmb-dev-portal-footer .footer-contents div {
    text-align: left;
  }

  .ie-dev-portal-footer .footer-contents div:nth-child(1) {
    grid-column: 1 / span 2;
  }

  .ncdmb-dev-portal-footer .footer-contents h3.widget-title {
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    letter-spacing: 0.6px;
    text-transform: none;
    color: #ffffff;
    position: relative;
    padding-bottom: 18px;
  }

  .ncdmb-dev-portal-footer .footer-contents h3.widget-title:after {
    height: 1px;
    width: 50px;
    background: #ffffff;
    position: absolute;
    bottom: 0px;
    content: "";
    left: 0;
  }

  .ncdmb-dev-portal-footer .footer-contents .impt-links-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    grid-gap: 4px;
    padding: 4px;
  }

  .ncdmb-dev-portal-footer .footer-contents .items {
    padding: 18px 0;
  }

  .ncdmb-dev-portal-footer .footer-contents .items:nth-child(2) {
    grid-area: 1 / 3 / span 3 / span 4;
  }

  .ncdmb-dev-portal-footer .footer-contents .items ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  /* .ie-dev-portal-footer .footer-contents .impt-links-grid .items ul {
    padding: 0 17px;
    list-style-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23c02428' width='18px' height='18px'%3E%3Cpath d='M0 0h24v24H0z' fill='white'/%3E%3Cpath d='M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 14.5v-9l6 4.5-6 4.5z'/%3E%3C/svg%3E");
  } */

  .ncdmb-dev-portal-footer .footer-contents .items ul li {
    padding: 5px 0;
  }

  .ncdmb-dev-portal-footer .footer-contents .items ul a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
  }

  .ie-dev-portal-footer .footer-contents .items ul li .date {
    padding: 3px 0;
    display: block;
    font-size: 14px;
    font-style: italic;
  }

  .ncdmb-dev-portal-copyright {
    background: white;
    width: 100%;
    color: #131314;
  }

  .copyright-wrapper {
    padding: 30px 60px;
    display: flex;
    justify-content: space-between;
  }

  
  /* HAMBURGER MENU */
  .ie-dev-portal-navbar .menu span {
    display: block;
    width: 33px;
    height: 3px;
    margin-bottom: 8px;
    position: relative;

    background: #cdcdcd;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
      opacity 0.55s ease;
  }

  .ie-dev-portal-navbar .menu.open span {
    opacity: 1;
    transform: rotate(45deg) translate(-12px, -13px);
  }

  .ie-dev-portal-navbar .menu.open span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  .ie-dev-portal-navbar .menu.open span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, 19px);
    margin-left: -11px;
  }

  .ie-dev-portal-navbar .menu span:first-child {
    transform-origin: 0% 0%;
  }

  .ie-dev-portal-navbar .menu span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  .ie-dev-portal-navbar .menu .mobile-view {
    display: none;
  }

  .ie-dev-portal-navbar .menu.open .mobile-view {
    display: block;
  }

  .ie-dev-portal-navbar .menu .mobile-view .nav-routes a {
    display: block;
    color: #fff;
    text-align: left;
    padding: 5px 3px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
  }

  /* HAMBURGER MENU ENDS */

  /* MOBILE VIEW STARTS */
  @media screen and (max-width: 1055px) {
    .ie-dev-portal-footer .footer-contents {
      grid-template-columns: 50% 50%;
    }

    .ie-dev-portal-footer .footer-contents div:nth-child(1) {
      grid-column: 1 / span 2;
    }
  }

  @media screen and (max-width: 996px) {
    .ie-dev-portal-navbar .ie-dev-portal-navbar-wrapper {
      justify-content: center;
    }

    .ie-dev-portal-navbar .ie-dev-portal-navbar-wrapper div {
      flex: none;
    }

    .ie-dev-portal-navbar .ie-dev-portal-navbar-wrapper div.nav-routes {
      display: none;
    }

    .ie-dev-portal-navbar .ie-dev-portal-navbar-wrapper div.ie-connect {
      display: none;
    }

    .ie-dev-portal-navbar-mobile {
      display: block;
      background-color: #bf2025;
      color: #fff;
      padding: 4px 12px;
    }
    .ie-dev-portal-navbar.top-ad {
      display: none;
    }
  }

  @media screen and (max-width: 727px) {
    .copyright-wrapper {
      display: block;
      text-align: center;
    }

    .copyright-wrapper div {
      padding: 6px 0;
    }
  }

  @media screen and (max-width: 620px) {
    .ie-dev-portal-footer .footer-contents {
      width: 100%;
      display: block;
    }

    .ie-dev-portal-footer .footer-contents div {
      text-align: center;
    }

    .ie-dev-portal-footer .footer-contents h3.widget-title {
      display: inline;
    }

    .ie-dev-portal-footer .footer-contents .items {
      padding-top: 28px;
    }
    

    .ie-dev-portal-footer .footer-contents .impt-links-grid {
      width: 100%;
      display: block;
    }

    .ie-dev-portal-footer .footer-contents .items:nth-child(2) {
      padding-top: 0;
    }
  }


.ie-dev-portal-footer .footer-contents h3.widget-title {
  font-family: 'Nunito', sans-serif !important;
}
/* HEADER AND FOOTER CSS */

/* NEW CSS HERE */
.stretch-item a,
.main-page-odoitr4mja a.view {
  text-decoration: none;
  color: #212529;
}

.main__tx123 .how-it-works a.view,
.main-page-odoitr4mja a.view {
  margin-top: 10px;
  font-size: 14px;
  text-transform: uppercase;

  background: #bf2025;
  border-radius: 16px;
  color: #fff;
  padding: 9px 28px;

  min-width: 100px;
}

button.the--view--btn,
a.the--view--btn {
  color: #fff;
  background-color: #bf2025;
  position: relative;
  width: fit-content;
  display: inline-block;
  padding: 0.8rem 1.4rem;
  border: none;
  font-size: 14px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

a.the--view--btn {
  text-decoration: none;
}

.pagetitle_parallax_content_box {
  background: #383838;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://www.ikejaelectric.com/wp-content/uploads/2020/04/about-Ikeja-Electric-web-1.jpg) 0px -455.889px / 2027px 1067px repeat;
}

.pagetitle_parallax_content {
  padding: 60px 30px;
}

.pagetitle_parallax_content h1 {
  margin-bottom: 14px;
}

.pagetitle_parallax_content h1, .pagetitle_parallax {
  text-align: center;
  color: white;
  font-weight: 400;
}

#crumbs {
  padding: 0;
  list-style: none;
}

#crumbs li {
  display: inline-block;
  margin-right: 3px;
  text-transform: capitalize;
}

.pagetitle_parallax_content_box ul {
  font-size: 12px;
  text-align: center;
  color: white;
}

.pagetitle_parallax_content_box ul li, .pagetitle_parallax_content_box ul li span {
  color: white;
}

.d-block {
  display: block !important;
}

.main-page-odoitr4mja .what-you-can-build .content.three-by-three {
  grid-template-columns: repeat(3, 1fr);
}

.main-page-odoitr4mja .what-you-can-build .content.two-by-two {
  grid-template-columns: repeat(2, 1fr);
}

.main-page-odoitr4mja .what-you-can-build .content.three-by-three .content-item,
.main-page-odoitr4mja .what-you-can-build .content.two-by-two .content-item {
  margin-bottom: 40px;
}

@media (max-width: 991.98px) {
  .main-page-odoitr4mja .what-you-can-build .content.three-by-three {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 575.98px) {
  .main-page-odoitr4mja .what-you-can-build .content.three-by-three,
  .main-page-odoitr4mja .what-you-can-build .content.two-by-two {
    grid-template-columns: repeat(1, 1fr);
  }
}


.main__tx123 .how-it-works button.view,
.main-page-odoitr4mja button.view {
  margin-top: 10px;
  font-size: 14px;
  text-transform: uppercase;

  background: #bf2025;
  border-radius: 16px;
  color: #fff;
  padding: 6px 18px;

  min-width: 100px;
  cursor: pointer;
}

.ui-dialog .ui-dialog-content {
  position: relative;
  border: 0;
  padding: .5em 1em;
  background: 0;
  overflow: auto;
}

.ui-button-icon-only .ui-button-text, .ui-button-icons-only .ui-button-text {
  padding: .4em;
  text-indent: -9999999px;
}

.ui-dialog .ui-dialog-titlebar-close {
  position: absolute;
  top: 50%;
  width: 21px;
  margin: -10px 0 0 0;
  padding: 1px;
  height: 20px;
}

.link-active {
  padding: 5px 10px;
  background-color: green;
  color: white !important;
}

.link:hover {
background-color: green;
color: white !important;
}

.header {
display: flex;
width: 120%;
}

.footer-container {
display: flex;
justify-content: space-around;
}

.logo {
transform: translateX(100px);
}

.footer-heading-1 {
color: #ffffff;
font-size: 20px;
transform: translateX(-50px);
}

.footer-heading-2 {
color: #ffffff;
font-size: 20px;
transform: translateX(-200px);
}

.footer-link {
list-style: none;
text-decoration: none;
color: rgba(255,255, 255, 0.75);
font-size: 15px;
}

.footer-link:hover {
color: yellow;
}
.ncdmb-dev-portal-copyright {
background-color: whitesmoke;
}
.copyright-wrapper {
color: #7A7A7A;
}

.footer-link span {
padding-right: 10px;

}

li {
list-style: none;
margin-top: 7px;
margin-bottom: 7px;
}

.img-1 {
display: flex;
}

.img-1 img {
width: 80px;
height: 80px;
}

.img-2 {
display: flex;
}

.img-2 img {
width: 30px;
height: 30px;
}

